snippet diary "A personal diary entry" b
= ${1:Title} =

== Todos ==
$2

== Achievements ==
$3

== Notes ==
$4

== Resources ==
$0
endsnippet

snippet note "A quick note with date and tags" b
%title $1
%date `date +"%Y-%m-%d %H:%M:%S"`
TAGS: $2

$0

endsnippet
