snippet diary "A personal diary entry" b
# `date +"%a %d"` - ${1:Title}

## DONE
$2

## Notes
$3

## Resources
$0
endsnippet

snippet note "A quick note with date and tags" b
---
tags: $1
date: `date +"%Y-%m-%d"`
title: $2
---

$0

endsnippet
